#buttons {
  text-align: center;
  margin: 20px;
}

.racetrack {
  border: 1px solid black;
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  background-image: url("../assets/racetrack3.jpg");
}

.racer {
  width: 150px;
  height: 150px;
  font-family: 'Bowlby One SC', cursive;
  font-size: 24px;
  text-align: center;
  position: relative;
}

#red {
  /*background-color: red;*/
  background-image: url("../assets/peach.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-width: 100%;
}

#blue {
  /*background-color: blue;*/
  background-image: url("../assets/yoshi.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-width: 100%;
}

#result {
  margin: auto;
  font-family: 'Bowlby One SC', cursive;
  font-size: 24px;
  border: 1px solid black;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#beginGame {
  width: 200px;
  height: 30px;
  font-weight: 800;
}

#resetGame {
  width: 100px;
  height: 30px;
  font-weight: 800;
}

p {
  font-family: Arial
}

